.education-container {
  color: var(--text-color);
  max-width: 100%;
  z-index: 22;
  padding: 70px 60px;
  background-color: var(--section-background);
}

.education-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.my-education {
  background: var(--card-background);
  margin-bottom: 10px;
  position: relative;
  width: 300px;
  border-radius: 10px;
  padding: 20px 20px;
  display: flex;
  height: max-content;
  overflow: hidden;
  flex-direction: column;
  cursor: pointer;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  box-shadow: 0px 30px 60px 0px rgb(0 0 0 / 10%);
  transition: all 0.5s ease;
  border: 1px solid rgb(255 255 255 / 0.1);
}

.my-education:hover {
  transform: scale(1.06);
  box-shadow: 0px 30px 60px 0px rgb(0 0 0 / 20%);
  transition: all 0.2s cubic-bezier(0.98, 0.57, 1, 1) 0s;
}

.my-education .web {
  margin: 10px 0;
  font-size: 17px;
}

.my-education img {
  margin: 10px 0;
  width: 100%;
}

.my-education:hover .web {
  color: var(--gradient-hover);
}

.my-education span {
  font-size: 3rem;
  margin-top: 30px;
  margin-bottom: 20px;
}

.education-info {
  margin-bottom: 30px;
  font-size: 13px;
  font-weight: 400;
  color: #676a6a;
}

.education-title {
  margin-bottom: 60px;
}

.education-title h2 {
  font-size: 14px;
  font-weight: 300;
  color: var(--heading-text);
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
  color: var(--heading-text);
  font-weight: 600;
}

.education-title h3 {
  font-size: 2.5rem;
  text-transform: capitalize;
}

.my-education .web {
  color: #fff;
  font-weight: 700;
}

.shadow-icon {
  font-size: 195px;
  position: absolute;
  right: -90px;
  bottom: -100px;
  opacity: 0.05;
  z-index: 0;
}

/* Responsive */
@media only screen and (min-width: 1738px) {
  .education-container {
    padding: 100px 100px;
  }

  .education-title h2 {
    font-size: 2rem;
  }

  .my-education {
    width: 500px;
    padding: 40px 20px;
    margin-bottom: 20px;
    height: 400px;
  }

  .my-education .web {
    margin: 10px 0;
    font-size: 2.4rem;
  }

  .education-title h3 {
    font-size: 4rem;
    width: 500px;
  }

  .my-education img {
    margin: 10px 0;
    width: 80px;
  }

  .education-info {
    margin-bottom: 30px;
    font-size: 1.8rem;
    font-weight: 300;
  }
}

@media only screen and (max-width: 1024px) {
  .my-education {
    width: 200px;
    padding: 10px 10px;
    margin-right: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .education-title {
    text-align: center;
  }

  .education-title h3 {
    font-size: 2rem;
  }

  .education-row {
    justify-content: space-around;
  }

  .my-education {
    margin-bottom: 20px;
    width: 250px;
    margin-right: 20px;
  }
}

@media only screen and (max-width: 425px) {
  .my-education {
    width: 300px;
  }
}

@media only screen and (max-width: 375px) {
  .education-container {
    padding: 30px 20px;
  }
}

/* light theme */
.light .my-education {
  box-shadow: 0px 30px 60px 0px rgb(0 0 0 / 10%);
}

.light .my-education:hover {
  box-shadow: var(--card-box-shadow);
}

.light .my-education .web {
  color: black;
}

.light .my-education:hover .web {
  color: var(--heading-text);
}

.light .education-title h3 {
  color: rgb(34, 34, 34);
}