.card-div {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 20px;
	flex-wrap: wrap;
}

.card {
	position: relative;
	width: 280px;
	height: 160px;
	box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.5);
	border-radius: 8px;
}

.box {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
	border-radius: 15px;
	position: absolute;
	top: 20px;
	left: 20px;
	bottom: 20px;
	right: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.4s ease;
}

.card:hover .box {
	transform: translateY(-20px);
	box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
	background: linear-gradient(45deg, #b95ce4, #4f29cd);
}

.content {
	padding: 8px;
	text-align: center;
}

.content h1 {
	position: absolute;
	top: 1px;
	right: 2px;
	font-size: 2em;
	color: rgba(0, 0, 0, 0.048);
	transition: all 0.4s ease;
}

.card:hover .content h1 {
	font-size: 2.8em;
}

.card:hover .content h3 {
	color: rgb(230, 230, 230);
}

.content p {
	color: rgb(107, 107, 107);
}

.card:hover .content p {
	color: rgb(230, 230, 230);
}

.content button {
	padding: 8px 22px;
	border: none;
	background: dodgerblue;
	margin-top: 10px;
	border-radius: 20px;
	color: aliceblue;
	transition: all 0.4s ease;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card:hover .content button {
	background: #ff568f;
}