.contact-me2 {
  color: var(--text-color);
  margin-top: 50px;
  position: relative;
  background: #1b0031;
}

.contact-me2-dec {
  content: "";
  height: 300px;
  width: 300px;
  background: url("../../images/decoration/footer-left-dotted-img.png");
  position: absolute;
  background-repeat: no-repeat;
  left: 0;
  z-index: 0;
  top: 0;
}

.contact-me2 .work-togater-text {
  z-index: 200;
  position: relative;
}

.work-togather-text h2 {
  font-size: 2.5rem;
  margin-top: 20px;
  color: var(--white);
}

.work-togather-text p {
  font-size: 14px;
}

.contact-me2 .row {
  z-index: 200;
  margin-left: 0px;
}

.contact-row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-info {
  flex-basis: 24%;
  min-width: 260px;
  display: flex;
  cursor: pointer;
  align-items: center;
  text-align: left;
  margin-bottom: 20px;
  border-radius: 10px;
  cursor: pointer;
  padding: 20px 0px 20px 10px;
}

.contact-details {
  margin-right: 30px;
}

.sec-btn {
  font-family: "Rubik", sans-serif;
  font-size: 15px;
  font-weight: 500;
  margin: 0px 12px;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  height: 48px;
  background: var(--gradient);
  -webkit-box-shadow: 5px 5px 30px 0px rgb(195 120 251 / 35%);
  -moz-box-shadow: 5px 5px 30px 0px rgba(195, 120, 251, 0.35);
  box-shadow: 5px 5px 30px 0px rgb(195 120 251 / 35%);
  display: inline-block;
  overflow: hidden;
  padding: 8px 40px;
  border-radius: 30px;
  position: relative;
  transition: all 0.2s cubic-bezier(0.98, 0.57, 1, 1) 0s;
}

.sec-btn:hover {
  background: var(--gradient-hover);
  color: var(--black);
}

.icon-name {
  color: #ffffff;
  font-size: 14px;
}

.d-name {
  color: #cacaca;
}

.contact-info {
  text-align: left;
}

.contact-info h4 {
  margin-bottom: 10px;
  font-size: 16px;
}

.contact-info i {
  margin-bottom: 10px;
  font-size: 20px;
  border-radius: 50%;
  display: flex;
  color: var(--white);
  justify-content: center;
  align-items: center;
  background: var(--gradient);
  height: 40px;
  width: 40px;
  border-radius: 50px;
}

.contact-info i:hover {
  background: var(--gradient-hover);
  color: var(--black);
}

.contact-details p {
  font-size: 13px;
  font-weight: 500;
}

/* resposiveness */
@media only screen and (max-width: 425px) {
  .sec-btn {
    margin-top: 10px;
  }

  .contact-info {
    margin-bottom: 0px;
  }

  .contact-me2 {
    padding: 30px 20px;
    background: #0c0122;
  }
}

/*  light theme settings */
.light .contact-me2 {
  background: rgb(255, 255, 255);
}

.light .contact-info {
  color: #10161b;
}

.light .sec-btn {
  background: var(--gradient);
}

.light .sec-btn:hover {
  background: var(--gradient-hover);
}

.light .contact-details p {
  color: #242424;
}

.light .contact-details h4 {
  color: #000000;
}

.footer-widget h3 {
  font-size: 20px;
  margin: 20px 0px;
}

.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: var(--white);
  line-height: 28px;
}

.footer-widget ul li {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  margin-bottom: 12px;
}

.footer-widget ul li a:hover {
  color: var(--heading-text);
}

.footer-widget ul li a {
  color: var(--white);
  text-transform: capitalize;
}

.subscribe-form {
  position: relative;
  overflow: hidden;
}

.subscribe-form input {
  width: 42%;
  padding: 14px 28px;
  margin: 10px 10px;
  background: #ffffff;
  border: 1px solid #000000;
  color: rgb(0, 0, 0);
  border-radius: 50px;
}