.aboutMe-container {
  color: var(--text-color);
  width: 100%;
  padding: 0 40px;
  position: relative;
  padding: 100px 40px 20px 40px;
  background: var(--section-background);
}

.abouMe-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
}

.abouMe-row img {
  width: 80%;
  margin-right: 0;
}

.lang {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.lang i {
  font-size: 2.3rem;
  width: 50px;
  cursor: pointer;
  height: 50px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  background: rgba(46, 33, 92, 0.5);
}

.bxl-bootstrap {
  color: rgb(125, 32, 187);
}

.lang-info {
  display: flex;
  margin-right: 15px;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.bxl-git {
  color: orangered;
}

.lang-info p {
  font-size: 13px;
}

.bxl-django {
  color: green;
}

.abouMe-row .title h2 {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.abouMe-row h3 {
  font-size: 2rem;
  line-height: 40px;
  text-transform: uppercase;
  width: 490px;
  font-weight: 500;
  margin-bottom: 10px;
}

.about_description {
  padding: 0 40px;
  position: relative;
  padding-left: 0;
}

.pt-2 {
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
}

.about-description p {
  line-height: 1.9em;
  font-weight: 400;
  font-size: 14px;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
}

.about-dots {
  position: absolute;
  bottom: 100px;
  left: 0;
  transform: rotate(45deg);
}

.about-dots img {
  opacity: 0.2;
  z-index: 2;
}

.about-rect {
  position: absolute;
  top: 140px;
  left: 50%;
  transform: rotate(45deg);
}

.about-rect img {
  opacity: 0.2;
  width: 80px;
  z-index: 2;
}

.about-shady {
  position: absolute;
  bottom: 50px;
  right: 50%;
  z-index: 20;
}

.about-shady img {
  opacity: 0.8;
  width: 200px;
  z-index: 2;
}

.bxl-javascript {
  color: yellow;
}

.bxl-postgresql {
  color: rgb(255, 196, 0);
}

.bxl-react {
  color: aqua;
}

.bxl-python {
  color: #7c97ee;
}

.bxs-data {
  color: rgb(255, 238, 0);
}

.download-cv {
  margin: 20px 0px 40px 0px;
  height: 60px;
  width: 180px;
  outline: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 13px;
  border: none;
  color: var(--white);
  border-radius: 48px;
  background: var(--gradient);
}

.download-cv:hover {
  background: var(--gradient-hover);
  color: var(--black);
}

.hobbies {
  font-size: 14px;
}

/* Responsiveness */
@media only screen and (min-width: 2560px) {
  .abouMe-row img {
    width: 50%;
  }
}

@media only screen and (max-width: 865px) {
  .aboutMe-container {
    padding: 30px 10px;
    overflow: hidden;
  }

  .abouMe-row .title h3 {
    font-size: 1.3rem;
    margin-bottom: 20px;
    line-height: 25px;
  }

  .abouMe-row .title h2 {
    font-size: 0.8rem;
  }

  .about-img {
    padding: 0;
  }

  .about-info {
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  }

  .abouMe-row {
    padding-left: 20px;
    padding-right: 10px;
  }

  .about-img img {
    margin-right: 0;
    width: 90%;
  }

  .lang i {
    height: 40px;
    width: 40px;
    font-size: 20px;
  }

  .about_myinfo {
    padding-left: 30px;
  }

  .about-description p {
    font-size: 13px;
  }

  .download-cv {
    margin-top: 0;
    width: 130px;
    font-size: 12px;
    height: 45px;
  }
}

@media only screen and (max-width: 768px) {
  .aboutMe-container {
    padding: 30px 0px;
    overflow: hidden;
  }

  .abouMe-row .title h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    line-height: 25px;
  }

  .about-img {
    padding: 0;
  }

  .about-img img {
    margin-right: 0;
    width: 100%;
  }

  .lang i {
    height: 40px;
    width: 40px;
    font-size: 20px;
  }

  .about_myinfo {
    padding-left: 30px;
  }

  .about-description p {
    font-size: 13px;
  }

  .download-cv {
    margin-top: 0;
    width: 140px;
    font-size: 12px;
    height: 45px;
  }
}

@media only screen and (max-width: 767px) {
  .lang i {
    width: 30px;
    height: 30px;
  }

  .about-img img {
    margin-right: 0;
    width: 60%;
  }
}

@media only screen and (max-width: 425px) {
  .about-img {
    text-align: center;
    margin-top: 20px;
  }

  .about-img img {
    margin-right: 0;
    width: 100%;
    margin-right: 0;
  }
}

@media only screen and (max-width: 425px) {
  .abouMe-row {
    padding-left: 10px;
  }

  .about_myinfo {
    padding: 10px;
  }
}

/* light theme */
.light .lang i {
  background: rgb(214, 214, 214);
}

.light .abouMe-row h3 {
  color: rgb(41, 41, 41);
}

.light .abouMe-row h2 {
  color: #ff5652;
}

.light .download-cv {
  background: var(--gradient);
}

.light .download-cv:hover {
  background: var(--gradient);
}